/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: black ;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 18.75rem;
    margin: 3.75rem auto;
}

a{
    text-decoration: none;
    color: white;
}

/*Body*/
img {
    padding: 0.25rem;
    border: 0.25rem solid #363636;
    border-radius: 50%;
    margin-top: 6.25rem;
    width: 6.25rem ;
    height: 6.25rem;
    cursor: pointer;
}

img:hover {
    filter: brightness(1.4);
}

h1{
    margin: 1rem 0 4rem 1rem ;
}

ul li {
    list-style-type: none;
    margin: 1.8rem 0;
}

ul li .linksAcess {
    cursor: pointer;
    border-radius: 0.4rem ;
    color: white ;
    background: #363636;
    padding: 1.25rem 1rem; 
    display: block;
    transition: background 400ms;


}

.linksAcess:hover {
    background: #1C1C1C;
}

